[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/sethforprivacy/hugo-PaperMod
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
