baseURL: 'http://sfprivg7qec6tdle7u6hdepzjibin6fn3ivm6qlwytr235rh5vc6bfqd.onion/'
publishDir: tor
languageCode: en-us
title: sethforprivacy.com
theme: ["hugo-notice", "PaperMod"]

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production
  title: sethforprivacy.com
  description: "A simple blog about privacy, Monero, and self-hosting"
  author: Seth For Privacy
  DateFormat: "January 2, 2006"
  defaultTheme: dark
  disableThemeToggle: false
  socialAccounts:
    twitter:
      username: 'sethforprivacy'

  images:
    - /opengraph.png

  ShowReadingTime: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: true
  tocopen: false

  mainSections: 
  - posts
  - guides

  assets:
    disableHLJS: true
    # disableFingerprinting: true

  label:
    text: "Home"
    icon: /favicon.ico
    iconHeight: 35
    iconWidth: 35 
  
  homeInfoParams:
    Title: "Welcome to Seth For Privacy's blog! \U0001F44B"
    Content: >
      Take a look at ["Posts"](/posts) for various blog posts, ["Guides"](/guides) for guides on self-hosting, privacy, Bitcoin, and Monero, and ["Opt Out Podcast"](https://optoutpod.com) for content related to my podcast, Opt Out.
      <br/><br/>
      ***To contact me, use one of the methods below or [an alternative](/about/#how-to-contact-me).***

  socialIcons:
    - name: email
      url: "mailto:sethforprivacy.vqhyi@simplelogin.com"
    - name: pgpkey
      url: "/about/#primary-pgp-key"
    - name: twitter
      url: "https://x.com/sethforprivacy"
    - name: matrix
      url: "https://matrix.to/#/@sethforprivacy:agoradesk.com"
    - name: reddit
      url: "https://www.reddit.com/user/sethforprivacy"
    - name: github
      url: "https://github.com/sethforprivacy"
    - name: monero
      url: "https://sethforprivacy.com/donate"
    - name: bitcoin
      url: "https://sethforprivacy.com/donate"
    - name: rss
      url: "/index.xml"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: false # hide on single page

  editPost:
    URL: "https://github.com/sethforprivacy/sethforprivacy.com/blob/master/content"
    Text: "Suggest Changes To This Post" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary

menu:
  main:
    - identifier: posts
      name: Posts
      url: /posts
      weight: 1
    - identifier: guides
      name: Guides
      url: /guides
      weight: 2
    - identifier: podcast
      name: Opt Out Podcast
      url: "http://optoutkoplzfgs7wl3gkg5nmtrrs7ki6ljcguf7c4w7rdsrtozlghxad.onion"
      weight: 3
      params:
        external: true
    - identifier: about
      name: About
      url: /about
      weight: 5
    - identifier: donate
      name: Donate
      url: /donate
      weight: 6
    - identifier: search
      name: Search
      url: /search
      weight: 10

privacy:
  disqus:
    disable: true
  googleAnalytics:
    anonymizeIP: false
    disable: true
    respectDoNotTrack: false
    useSessionStorage: false
  instagram:
    disable: true
    simple: false
  twitter:
    disable: false
    enableDNT: false
    simple: true
  vimeo:
    disable: true
    enableDNT: false
    simple: false
  youtube:
    disable: true
    privacyEnhanced: false
markup:
  tableOfContents:
    endLevel: 2
    ordered: false
    startLevel: 1
  goldmark:
    renderer:
      unsafe: true
  highlight:
    anchorLineNos: true
    lineNos: true
