<style>
    #callout {
      background: var(--code-block-bg);
      padding: 1.5em 1.25em;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }
    #callout-inner {
      margin-left: 1em;
    }
    @media (max-width: 767px) {
      #callout {
      padding: 1.5em 0.75em 1.5em 0.6em;
      }
      #callout-inner {
        margin-left: 0.5em;
      }
    }
  </style>
  <div id="callout" style="">
    <div>{{ .Get "emoji" }}</div>
      <div id="callout-inner">
      {{ .Get "text" }}
    </div>
  </div>